@use '@fontsource-variable/dm-sans';
@use '@fontsource/poppins';

// Fonts
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'DM Sans Variable', sans-serif;

// Colors
$light-grey: #A7A7A7;
$bright-blue: #13B0F5;
$hot-pink: #E70FAA;
$solid-heading: #D9D9D9;