@use '../abstract/' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $bg-dark-color;
    font-family: $primary-font;
    color: $solid-heading;
    overflow-x: hidden;
}

.section {
    width: $container-width;
    margin: 4rem auto;
    @include section-padding;

    h1 {
        font-size: 2.5rem;
        color: $solid-heading;
        margin-bottom: 1rem;
        text-align: center;
    }

    & > p {
        color: $light-grey;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 3rem;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    @include respond-to("tablet") {
        width: $container-width-mobile;
        margin: 2rem auto;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $bg-dark-color;
}

::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color;
    border-radius: 10px;
    border: 2px solid $bg-dark-color;

    &:hover {
        background-color: $scrollbar-thumb-hover-color;
    }
}
