@use "../abstract/variables" as *;

.intro {
    width: 80%;
    margin: 11rem auto 14rem auto;
    text-align: center;

    .intro-text {
        display: inline-flex;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        animation: fade-in-down 1s linear forwards;
        animation-delay: 1s;
        
        h1 {
            font-size: 2.5rem;
            color: $solid-heading;
        }
    
        span {
            font-size: 1.5rem;
            color: $light-grey;
        }

        .CV_btn {
            margin: 1rem;
            padding: 1rem 1.5rem;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            background-color: $bright-blue;
            color: $solid-heading;

            svg {
                padding-right: .5rem;
            }
        }
    }

}