@use '../abstract/variables' as *;

.projects-container {
    width: 80%;
    margin: 0 auto 10rem auto;

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5rem;
        margin-top: 5rem;

        .card {
            background-color: $dark-grey;
            border-radius: 1rem;
            
            .card-img {
                height: 250px;
                width: 100%;
                border-radius: 1rem 1rem 0 0;
            }

            .card-texts {
                padding: 1.5rem;
    
                h3 {
                    color: $solid-heading;
                }
    
                p {
                    font-size: 1rem;
                    text-align: left;

                    span {
                        font-size: .9rem;
                    }
                }
    
                ul {
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-top: .8rem;
                    width: 90%;
    
                    li {
                        
                        a {
                            font-size: .8rem;
                            color: #FFFFFF;

                            svg {
                                margin-right: .4rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}