@use "../abstract/" as *;

.stack-container {
    width: $container-width;
    margin: auto;
    @include flex-center(column);

    .stack-images {
        list-style-type: none;
        @include flex-center(row);
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 3rem;
        color: $solid-heading;
        
        li {
            @include flex-center(row);
            gap: .8rem;
            border: 1px solid rgba($light-grey, 0.3);
            height: 4.5rem;
            width: 12rem;
            padding: 1rem;
            border-radius: .8rem;
            background-color: rgba($dark-grey, 0.2);
            @include hover-transition;
            cursor: pointer;

            &:hover {
                transform: translateY(-5px);
                border-color: $bright-blue;
                background-color: rgba($dark-grey, 0.4);
            }

            img {
                height: 2rem;
                width: 2rem;
                object-fit: contain;
            }

            span {
                font-family: $secondary-font;
                font-weight: 500;
            }
        }
    }

    @include respond-to("tablet") {
        width: $container-width-mobile;
        
        .stack-images {
            gap: 1.5rem;
            li {
                width: 10rem;
                height: 4rem;
            }
        }
    }
}
