@use "../abstract/variables" as *;

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 80%;
    margin: auto;
    border-top: 1px solid $dark-grey-2;

    p {
        color: $light-grey;
    }
}