@use "../abstract/variables" as *;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    width: 80%;
    margin: auto;
    animation: fade-in-left 500ms linear forwards;

    h1 {
        background: -webkit-linear-gradient($bright-blue, $hot-pink);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    nav {
        display: flex;
        gap: 2rem;

        ul {
            display: inherit;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            gap: 3.5rem;
            font-family: $secondary-font;

            a {
                text-decoration: none;
                color: $light-grey;
            }
        }

        .social-links {
            display: inherit;
            gap: 1.2rem;
            a {
                color: $light-grey;
                font-size: 1.5rem;
            }
        }   
    }

    .hamburger-menu {
        display: none;

        .bar {
            background-color: $solid-heading;
            width: 3rem;
            height: .2rem;
            margin: .5rem;
            border-radius: .5rem;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    header {
        width: 90%;
        height: 10vh;
        position: relative;
        // border: 1px solid blue;
        
        nav {
            display: none;
        }

        .hamburger-menu {
            display: block;
        }

        .hamburger-nav {
            position: absolute;
            // border: 1px solid red;
            height: 100vh;
            width: 100vw;
            top: 100%;
            right: -5%;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    header {

        h1 {
            font-size: 1.5rem;
        }

        nav {
            display: none;
        }

        .hamburger-menu {

            .bar {
                width: 2.4rem;
            }
        }
    }
}